* {
    padding: 0;
    margin: 0;
    border: 0;
}

.header {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    border: 2px solid black;
    padding: 10px;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
    font-weight: bold;
}

.input {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 0;

}

.button {
    display: flex;
    justify-content: center;
    width: 100%;
}